.hero-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
}

.hero-info-2 {
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 30px;

}

.CTA {
    padding-top: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;

}

.Call-to-action {
    background-color: orangered;
    padding: 10px 15px;
    border-radius: 10px;
    display: inline-block;
    margin: 5%;
}

.Call-to-action-2 {
    background-color: orangered;
    padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
    margin: 2%;
    font-family: 'Montserrat', sans-serif;
    margin-left: 42.5%;

}

.hero {
    background: linear-gradient(#00000023, black), url(./images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100vh;
}

body {
    margin: 0
}

.donate-title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    padding-top: 5%;
    color: #252525;
}

.donate-p {
    font-size: 18px;
    padding-left: 25%;
    padding-right: 25%;
    line-height: 30px;
    color: #7c7c7c;
    font-weight: 500;
}

.flexible-container {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    display: flex;

    padding-left: 18%;
    color: #7c7c7c;
}

.half-width {
    text-align: center;
    width: 15%;
}

.orange-color {
    color: orangered;
    background-color: #e2e2e2;
    padding: 15px 25px;
    border-radius: 15px;
    border: 2px solid orangered;

}

.donation-box {
    display: flex;
    height: 40px;
    text-align: center;
    padding-left: 42%;
    padding-top: 25px;

}